*.iml
.gradle
.vscode
.idea
*/node_modules
./deno/third_party

/test/vue3/yarn.lock
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.bfsw
.bfsp
.npm
.cxx
local.properties
**build
/plaoc/yarn-error.log
resource_3rd
# recommend-app
Pods
android/app/src/main/assets/*

rust_lib/assets/rusty_v8_mirror/

# ios
iOS/Plaoc-iOS.xcworkspace

