*.iml
.gradle
.vscode
.idea
*/node_modules

/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.bfsw
.bfsp
.cxx
local.properties
**build
deno
/plaoc/yarn-error.log

android/app/src/main/assets/*

rust_lib/assets/rusty_v8_mirror/
/Plaoc-Android
