<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WKAppBoundDomains</key>
	<array>
		<string>waterbang.top</string>
		<string>plaoc.com</string>
	</array>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>是否允许打开蓝牙设备，以便发送数据</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>是否允许打开蓝牙设备，以便发送数据</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
