<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="info.bagen.libappmgr">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <application
    android:requestLegacyExternalStorage="true">
    <provider
      android:name=".database.AppProvider"
      android:authorities="info.bagen.rust.plaoc"
      android:exported="true" />

    <activity android:name=".ui.main.MainActivity" />
    <activity android:name=".ui.dcim.DCIMActivity" />
  </application>
</manifest>
